[Unit]
Description=Unison file synchronization service
Documentation=https://www.cis.upenn.edu/~bcpierce/unison/

[Service]
Type=exec
ExecStart=/usr/bin/unison -ui=text -logfile=/dev/null -repeat=watch -auto -batch -terse
ExecStop=/usr/libexec/unison/stop-unison $MAINPID
Restart=on-failure
RestartSec=10
LimitNOFILE=infinity
LimitSTACK=infinity
#KillMode=process
TimeoutStopSec=3m
StandardOutput=null
StandardError=journal

[Install]
WantedBy=default.target
