[Unit]
Description=Unison file synchronization service
Documentation=https://www.cis.upenn.edu/~bcpierce/unison/

[Service]
Environment=DISPLAY=
Type=exec
ExecStart=/usr/bin/unison -logfile=.unison/service.log -repeat=watch -auto -batch -terse
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
